{{!-- <div class="card">
    <div class="table-responsive py-4">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="dataTable-top">
                <div class="dataTable-dropdown">
                    <label>
                        <select class="dataTable-selector">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select>
                        Registros
                    </label>
                </div>
                <div class="dataTable-search">
                    <input class="dataTable-input" placeholder="Buscar..." type="text">
                </div>
            </div>
            <div class="dataTable-container">
                <table class="table table-flush dataTable-table" id="datatable">
                    <thead class="thead-light">
                        <tr>
                        <th data-sortable style="width: 16.3981%;"><a href="#" class="dataTable-sorter">Name</a></th>
                        <th data-sortable><a href="#" class="dataTable-sorter">Position</a></th>
                        <th data-sortable><a href="#" class="dataTable-sorter">Office</a></th>
                        <th data-sortable><a href="#" class="dataTable-sorter">Age</a></th>
                        <th data-sortable><a href="#" class="dataTable-sorter">Start date</a></th>
                        <th data-sortable><a href="#" class="dataTable-sorter">Salary</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>Zenaida Frank</td>
                        <td>Software Engineer</td>
                        <td>New York</td>
                        <td>63</td>
                        <td>2010/01/04</td>
                        <td>$125,250</td>
                        </tr>
                        <tr>
                        <td>Zorita Serrano</td>
                        <td>Software Engineer</td>
                        <td>San Francisco</td>
                        <td>56</td>
                        <td>2012/06/01</td>
                        <td>$115,000</td>
                        </tr>
                        <tr>
                        <td>Jennifer Acosta</td>
                        <td>Junior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>43</td>
                        <td>2013/02/01</td>
                        <td>$75,650</td>
                        </tr>
                        <tr>
                        <td>Cara Stevens</td>
                        <td>Sales Assistant</td>
                        <td>New York</td>
                        <td>46</td>
                        <td>2011/12/06</td>
                        <td>$145,600</td>
                        </tr>
                        <tr>
                        <td>Hermione Butler</td>
                        <td>Regional Director</td>
                        <td>London</td>
                        <td>47</td>
                        <td>2011/03/21</td>
                        <td>$356,250</td>
                        </tr>
                        <tr>
                        <td>Lael Greer</td>
                        <td>Systems Administrator</td>
                        <td>London</td>
                        <td>21</td>
                        <td>2009/02/27</td>
                        <td>$103,500</td>
                        </tr>
                        <tr>
                        <td>Jonas Alexander</td>
                        <td>Developer</td>
                        <td>San Francisco</td>
                        <td>30</td>
                        <td>2010/07/14</td>
                        <td>$86,500</td>
                        </tr>
                        <tr>
                        <td>Shad Decker</td>
                        <td>Regional Director</td>
                        <td>Edinburgh</td>
                        <td>51</td>
                        <td>2008/11/13</td>
                        <td>$183,000</td>
                        </tr>
                        <tr>
                        <td>Michael Bruce</td>
                        <td>Javascript Developer</td>
                        <td>Singapore</td>
                        <td>29</td>
                        <td>2011/06/27</td>
                        <td>$183,000</td>
                        </tr>
                        <tr>
                        <td>Donna Snider</td>
                        <td>Customer Support</td>
                        <td>New York</td>
                        <td>27</td>
                        <td>2011/01/25</td>
                        <td>$112,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div> --}}


<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
    <table class="table" id="datatable" width="100%">
        <thead>
            <tr>
                <th>Equipo</th>
                <th>Descripción</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>

            {{#each equipos}}
            <tr>
                <td><span class="font-weight-bold">{{equipo}}</span></td>
                <td><span class="font-weight-normal">{{descripcion}}</span></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm">
                                <span class="fas fa-ellipsis-h icon-dark"></span>
                            </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/equipo/edit/{{_id}}"><span class="fas fa-edit mr-2"></span>Editar</a>
                            <button type="button" onclick="btnEliminar('/equipo/delete/{{_id}}')" class="dropdown-item text-danger"><span class="fas fa-trash-alt mr-2"></span>Eliminar</button>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>

<script src="/js/datatable.js"></script>
<script src="/js/confirm_delete.js"></script>