{{!-- <form action="/cliente/add" method="POST">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm components-section">
                <div class="card-body">
                      
                    <div class="row">
                          <div class="col-lg-3 col-sm-6">
                              <label for="anio">Año</label>
                              <select id="anio" name="anio" class="form-select">
                              </select>
                          </div>
                          
                          <div class="col-lg-3 col-sm-6">
                              <label for="mes">Mes</label>
                              <select id="mes" name="mes" class="form-select">
                              </select>
                          </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form> --}}

<div class="table-responsive">
    <table class="table table-sm table-centered table-nowrap table-striped mb-0 rounded w-50" style="margin: auto;">
        <thead class="thead-dark">
            <tr>
                <th colspan="3" class="border-0 text-center">Desplazamiento de Personal Técnico</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border-0 font-weight-bold">Cumplimiento</td>
                <td class="border-0 font-weight-normal text-right">190</td>
                <td class="border-0 font-weight-normal text-right">80%</td>
            </tr>
            <tr>
                <td class="border-0 font-weight-bold">No Cumplimiento</td>
                <td class="border-0 font-weight-normal text-right">60</td>
                <td class="border-0 font-weight-normal text-right">20%</td>
            </tr>
            <tr>
                <td class="border-0 font-weight-bold">Total averias</td>
                <td class="border-0 font-weight-normal text-right">250</td>
                <td class="border-0 font-weight-normal text-right">100%</td>
            </tr>
        </tbody>
    </table>
</div>