<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="../images/logo.svg" type="image/x-icon">
<title>App Service Desk</title>

<!-- Fontawesome -->
<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="/vendor/notyf/notyf.min.css" rel="stylesheet">

<!-- Sweetalert2 -->
<link type="text/css" href="/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Choices js -->
<link rel="stylesheet" href="/vendor/choices/css/choices.min.css"/>

<!-- Volt Docs -->
<link rel="stylesheet" href="/css/docs.css">

<!-- Volt CSS -->
<link rel="stylesheet" href="/css/volt.min.css">

<!-- MDBootstrap Datatables -->
<link href="/vendor/bootstrap/dist/css/addons/datatables.min.css" rel="stylesheet">


{{!-- <!-- Dropzone -->
<link href="/vendor/dropzone/min/dropzone.min.css" rel="stylesheet"> --}}

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/main.css">

